extends layout

block content
  h1= title
  each question in surveyResults
      table.surveyResultsTable
          thead
            tr
              th= question.question.text
          tbody
              tr
                th= "Answer Choice"
                th= "Responses"
              each answerChoice in question.answerChoices
                  tr
                    td.answerChoice= answerChoice.answer
                    td= answerChoice.count