extends layout

block content
  h1= title
  each question in surveyResults
      table.surveyResultsTable
          thead
              tr
                  th(colspan="2")= question.question.text
          tbody.surveyResultsTableBody
              tr
                  td= "Answer Choice:"
                  td= "Responses:"
                  - var answerChoiceNumber = 0
                  each answerChoice in question.answerChoices
                      - if (answerChoiceNumber % 2 === 0) {
                          tr.even
                              td.answerChoice= answerChoice.answer
                              td= answerChoice.count
                      - } else {
                          tr.odd
                              td.answerChoice= answerChoice.answer
                              td= answerChoice.count
                      - }
                      - answerChoiceNumber++